input, button {
    padding: 20px;
    margin: 2em;
    border: dotted 2px rgb(27, 102, 18);
}
input:hover, button:hover {
    cursor: pointer;
    background-color:rgb(27, 102, 18);
    color: white;
}
div.col-md-6 {
    margin-top: 50px;
}
h1 {
    margin: 50px;
    padding: 20px;
    font-weight: bold;
    border: solid black;
}
#parentExplanation {
    text-align: left;
    padding: 10%;
}
#list {
    padding-bottom: 50px;
    border-right: solid black;
}
.container-fluid {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(240, 240, 240);
    box-shadow: 10px 10px 8px #888888;
    border: solid 1px gray;
}
td {
    border:1px solid rgb(27, 102, 18);
}
#tableCard {
    text-align: left;
    box-shadow: 10px 10px 8px #888888;
    border: 1px solid rgb(27, 102, 18);
    max-width: 650px;
    margin: 20px;
}
#lists {
    display: none;
    justify-content: space-evenly;
}
#button, #button2 {
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.option:hover {
    background-color: rgb(27, 102, 18);
    cursor: pointer;
    color: white;
}
body {
    color: rgb(27, 102, 18);
}

.center {
    text-align: center;
}
